<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{yy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId}] %-5level %logger{36}-%L -%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="err"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--每日备份日志存储格式和位置 -->
            <fileNamePattern>logs/bak/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--最大保存天数 -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <!-- <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <MaxFileSize>20MB</MaxFileSize> </TimeBasedFileNamingAndTriggeringPolicy> -->
        <encoder>
            <pattern>%d{yy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId}] %-5level %logger-%L -%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="warn"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/warn.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/bak/warn.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId}] %-5level %logger{36}-%L -%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="suc"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/success.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/bak/success.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <!-- <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
           <MaxFileSize>20MB</MaxFileSize> </TimeBasedFileNamingAndTriggeringPolicy> -->
        <encoder>
            <pattern>%d{yy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId}] %-5level %logger{36}-%L -%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="bug"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/debug.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/bak/debug.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <!-- <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
           <MaxFileSize>20MB</MaxFileSize> </TimeBasedFileNamingAndTriggeringPolicy> -->
        <encoder>
            <pattern>%d{yy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId}] %-5level %logger{36}-%L -%msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <!-- <level value="error" /> <level value="info" /> -->
        <appender-ref ref="suc" />
        <appender-ref ref="err" />
        <appender-ref ref="warn" />
        <appender-ref ref="bug" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
